.top {
    height: 300px;
    width: 1340px;
    border-radius: 30px;
}

.elhelyezes {
    display: flex;

   
    
}
.bal {
    background-color: rgb(222, 161, 30);
    width: 400px;
    text-align: center;
    
    
}

.balImg {
    width: 200px;
   
    
}

.kozep {
    width: 400px;
    text-align: center;
}

.jobb {
    background-color: rgb(222, 161, 30);
    width: 400px;
    text-align: center;
    
}