body {
    max-width: 1440px;
    margin: 30px auto;
}
.topDiv {
    
    text-align: center;
}

.top {
    height: 300px;
    width: 1320px;
    
}
.elhelyezes {
    display: flex;
   
   
    
    
   

   
    
}
.bal {
    background-color: rgb(222, 161, 30);
    width: 500px;
    text-align: center;
    
    
}

.balImg {
    width: 200px;
   
    
}

.kozep {
    width: 500px;
    text-align: center;
}

.jobb {
    background-color: rgb(222, 161, 30);
    width: 500px;
    text-align: center;
    
}

div {
    padding: 20px;
}